<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>docs</title>
    
</head>
<body>
    <h1>Test</h1>
    <p>Obtener todos los Ejercicios: <b>http://localhost:5000/ejercicios</b></p>
    <p>Obtener todos los simulaores: <b>http://localhost:5000/simuladores</b></p>
    <p>Obtener todas las preguntas: <b>http://localhost:5000/preguntas</b></p>
    <p>Obtener todos los ejercicios: <b>http://localhost:5000/ejercicios</b></p>
    <p>Obtener las preguntas junto a sus respuestas por idEjercicio: <b>http://localhost:5000/preguntas/:idEjercicios</b></p>
    <p>Obtener las respuestas por el idPreguntas: <b>http://localhost:5000/ejercicios/:idpreguntas</b></p>
    <p>Obtener los usuarios: <b>http://localhost:5000/usuarios</b></p>
    <p>Añade un usuario con la info recibida: <b>http://localhost:5000/usuarios/add</b></p>
</body>
</html>