<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>docs</title>
    
</head>
<body>
    <h1>Test</h1>
    <p>Obtener todos los Ejercicios: /ejercicios</p>
    <p>Obtener todos los simulaores: /simuladores</p>
    <p>Obtener las preguntas por idEjercicio: /preguntas/:idEjercicios</p>
    <p>Obtener las respuestas por el idPreguntas: /respuestas/:idpreguntas</p>
    <p>Obtener los usuarios por los ids: /usuarios/:idUsuario</p>
</body>
</html>