USE [master]
GO
/****** Object:  Database [ProyectoFinal]    Script Date: 21/9/2023 17:54:09 ******/
CREATE DATABASE [ProyectoFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProyectoFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProyectoFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoFinal]
GO
/****** Object:  User [Proyecto]    Script Date: 21/9/2023 17:54:09 ******/
CREATE USER [Proyecto] FOR LOGIN [Proyecto] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 21/9/2023 17:54:09 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Ejercicios]    Script Date: 21/9/2023 17:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [text] NOT NULL,
	[descripcion] [text] NOT NULL,
	[dificultad] [int] NOT NULL,
 CONSTRAINT [PK_Ejercicios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 21/9/2023 17:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pregunta] [text] NOT NULL,
	[idEjercicio] [int] NOT NULL,
 CONSTRAINT [PK_Preguntas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 21/9/2023 17:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPregunta] [int] NOT NULL,
	[respuesta] [text] NOT NULL,
	[correcta] [bit] NOT NULL,
 CONSTRAINT [PK_Respuestas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Simuladores]    Script Date: 21/9/2023 17:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simuladores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[descripcion] [text] NOT NULL,
 CONSTRAINT [PK_Simulador] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/9/2023 17:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gmail] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[progreso] [int] NOT NULL,
	[estrellas] [int] NOT NULL,
	[maestro] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ejercicios] ON 

INSERT [dbo].[Ejercicios] ([id], [titulo], [descripcion], [dificultad]) VALUES (1, N'Gravedad', N'haz ejercicios sobre Grevedad', 1)
INSERT [dbo].[Ejercicios] ([id], [titulo], [descripcion], [dificultad]) VALUES (2, N'Caida Libre', N'haz ejercicios sobre Caida Libre', 2)
INSERT [dbo].[Ejercicios] ([id], [titulo], [descripcion], [dificultad]) VALUES (3, N'Aceleración', N'haz ejercicios sobre Aceleracion', 2)
SET IDENTITY_INSERT [dbo].[Ejercicios] OFF
GO
SET IDENTITY_INSERT [dbo].[Preguntas] ON 

INSERT [dbo].[Preguntas] ([id], [pregunta], [idEjercicio]) VALUES (1, N'Cuál será la fuerza de gravedad aplicada a un objeto con una masa de 40g?', 1)
INSERT [dbo].[Preguntas] ([id], [pregunta], [idEjercicio]) VALUES (2, N'Cuál será la velocidad de un objeto con una masa de 20g al caer por 5 segundos?', 2)
INSERT [dbo].[Preguntas] ([id], [pregunta], [idEjercicio]) VALUES (3, N'Cual es la masa atómica promedio del Oxigeno?', 1)
SET IDENTITY_INSERT [dbo].[Preguntas] OFF
GO
SET IDENTITY_INSERT [dbo].[Respuestas] ON 

INSERT [dbo].[Respuestas] ([id], [idPregunta], [respuesta], [correcta]) VALUES (1, 1, N'0.392 N', 1)
INSERT [dbo].[Respuestas] ([id], [idPregunta], [respuesta], [correcta]) VALUES (2, 1, N'0.431 N', 0)
INSERT [dbo].[Respuestas] ([id], [idPregunta], [respuesta], [correcta]) VALUES (3, 1, N'22', 0)
GO
SET IDENTITY_INSERT [dbo].[Respuestas] OFF
GO
SET IDENTITY_INSERT [dbo].[Simuladores] ON 

INSERT [dbo].[Simuladores] ([id], [titulo], [descripcion]) VALUES (1, N'MRU', N'Aprende MRU')
INSERT [dbo].[Simuladores] ([id], [titulo], [descripcion]) VALUES (2, N'MRUV', N'Aprende MRUV')
INSERT [dbo].[Simuladores] ([id], [titulo], [descripcion]) VALUES (3, N'Aceleración', N'Aprende sobre aceleración')
SET IDENTITY_INSERT [dbo].[Simuladores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [gmail], [nombre], [contraseña], [progreso], [estrellas], [maestro]) VALUES (1, N'aswdasd@gmail.com', N'Santino', N'1234', 0, 1, 0)
INSERT [dbo].[Usuarios] ([id], [gmail], [nombre], [contraseña], [progreso], [estrellas], [maestro]) VALUES (2, N'adwaad@gmail.com', N'Enrique', N'9876', 0, 2, 1)
INSERT [dbo].[Usuarios] ([id], [gmail], [nombre], [contraseña], [progreso], [estrellas], [maestro]) VALUES (3, N'ggrhasd@gmail.com', N'Facundo', N'Hola123', 0, 2, 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
