.carta{
    width: 550PX;
    height: 600PX;
    background-color:rgb(49, 241, 241)
}   

.titulo{
    font-size: 2vw;
    margin-left: 150px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.descripcion{
    font-size: 1lh;
}

.data{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:2.5ch
}

.borde-imagen{
    border: 1px solid #000;
}


.save{
    margin-left: 70px;
    width: 110px;
}

.cancel{
    width: 110px;
}