.ejercicio-container h1{
    display: flex;
    justify-content: center;
}

.button-submit{
    margin: 30px;

}

.respuestas-container{
    padding: 15px;
    margin-left: 2rem; 
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: rgb(127, 182, 255);
    transition: all .3s ease;
}
.respuestas-container:hover{
    padding-right: 30px;
    padding-left: 30px;
    transform: scale(1.05);
}
label > .form-check{
    transition: all .3s ease;
}
label > .form-check:hover{
    transform: scale(1.023);
    border-radius: 5px;
    background-color: rgba(84, 148, 221, .5);
    padding-left: 50px;
}