.simuladores-container{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.cards-ejercicios-container{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.cards-ejercicios-container .card-simulador{
  width: 28%;
}