.ranking-list {
  list-style: none;
  padding: 0;
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px; /* Increase padding for better spacing */
  background-color: #fff; /* Use a white background */
  border: 1px solid #ddd; /* Add a subtle border */
  border-radius: 8px; /* Round the corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */

  &:hover {
      background-color: #f4f4f4; /* Change background color on hover */
  }
}

.user-name {
  font-weight: bold;
}

.star-count {
  color: #ffc107;
}

.title {
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Add space below the title */
  font-size: 24px; /* Increase font size */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  margin-right: 10px; 
}